.about_us{
    margin-left: 20px;
    margin-right: 20px;
}
.about_us_title{
    color: rgb(41, 42, 43); 
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.about_us_title::after{
    content: '';
    background: #757575;
    width: 150px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.about_us ul{
    list-style-type: disc;
}
.about_us ul li{
    margin-left: 50px;
}