{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/css/about_us.css">
<title>Rólunk</title>
{% endblock %}

{% block body %}
<!--about us-->
<div class="about_us">
    <h1 class="about_us_title">Bemutatkozás</h1>
    <p>
        Cégünk 1999 óta működik. Privát árubeszerzés 20 év tapasztalatával vevőink
        megelégedésére. 10 évig Budapesten a XII. kerület Király Béla út 36. szám alatt működött a műszaki és
        barkácsboltunk, majd 2010 év második felétől elköltöztünk a X. kerület Dózsa György u. 18. szám alá.
    </p>
    <p>
        Vásárlóink megszokták, hogy számunkra nincs lehetetlen, mi minden problémájukat megoldjuk vagy
        rövid határidőn belül beszerezzük igényeik figyelembe vételével.
    </p>
    <p>
        A megfelelő szakmai hátteret kiépítettük, szakértelmünk garancia az Önök részére. Szeretnénk kiemelni
        sikereink, működésünk titkát:
    </p>
    <ul>
        <li>kedvező ár</li>
        <li>széleskörű választék</li>
        <li>széleskörű választék</li>
        <li>szakmai hozzáértés</li> 
        <li>precíz, pontos munka</li>
        <li>egyedi igények kielégítése</li>
        <li>kiváló megközelítési lehetőség</li>
    </ul>
    <p>
        Változatlan áruválasztékkal, szakértelemmel folyamatos tanácsadással várjuk kedves vásárlóinkat.
    </p>
</div>
{% endblock %}