{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/css/other_information.css">
<title>Egyéb információk</title>
{% endblock %}

{% block body %}
    <!--other information-->
    <div class="other_information">
        <h1 class="other_information_title">Egyéb tájékoztatók</h1>
        <h2>Az alábbi linkekre kattintva megtekintheti a tájékoztatókat:</h2>
        <ul>
            <li><a href="/aszf">Általános szerződési feltételek</a></li>
            <li><a href="/adatkezelesi_tajekoztato">Adatkezelési tájékoztató</a></li>
        </ul>
    </div>
{% endblock %}